*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.services{
  background-color: darkgoldenrod; /* Changed background color to red */
  h1{
    color: darkgoldenrod;
  }
}
.body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
a{
  text-decoration: none;
}
.container{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1200px;
  flex-wrap: wrap;
}
.card{
  position: relative;
  width: 250px;
  padding: 10px;
  margin: 10px;
  height: 450;
  background: beige; /* Changed card background color to silver */
  // border: 1px solid #14d91e; /* Added border */
  border-radius: 20px; /* Added border-radius */
  box-shadow: 0 16px 16px goldenrod; /* Added box-shadow */
}
.card::before{
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  border: 20px solid transparent;
  // border-top: 20px solid #FF9900;
  // border-right: 20px solid #FF9900;
}
.card.active::before{
  border-top: 20px solid #ff3b7e;
  border-right: 20px solid #ff3b7e;
}
.card .icon{
  margin-bottom: 10px;
}
.card img {
  height: 100px !important;
  width:300px!important;
  max-width: 100% !important;
  padding-bottom: 10px;
  padding-right: 6px;
}


.card .card-body{
  position: relative;
  height: 300px;
  overflow: hidden;
  text-align: left;
}
.card.active .card-body{
  height: auto;
}
.card .card-body::before{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background: linear-gradient(transparent,goldenrod);
  // box-shadow: 0 0 20px rgba(0, 0, 0, 0.3), 0 4px 8px rgba(0, 0, 0, 0.1); /* Enhanced box shadow */
}
.card.active .card-body::before{
  display: none;
}
.card .card-body h3{
  color: darkgoldenrod;
  font-size: 1rem;
  font-weight: 800;
  margin-bottom: 5px;
}
.card .card-body p{
  font-weight: 300;
  color: goldenrod;
}
.card .more{
  position: relative;
  padding: 10px 15px;
  // background: yellow;
  margin-top: 15px;
  display: inline-block;
  cursor: pointer;
  text-transform: uppercase;
  color: darkgoldenrod;
  font-weight: 500;
  letter-spacing: 2px;
  font-size: 14px;
  font-weight: 600;
}
.card.active .more{
  // background: yellow;
  color: darkgoldenrod;
  font-weight: 600;
}
.card .more::before{
  content: 'Read more';
}
.card.active .more::before{
  content: 'Read Less';
}
