<div class="custom-template" #myDiv id="aboutUsDiv">
  <div class="container-fluid">
    <div class="row d-flex align-items-center flex-row-reverse">
      <div class="col-md-4 main-image d-flex justify-content-center p-3">
        <img src="../../../assets/aboutUS.jpg" class="card-img-top rounded mt-2 w-75" alt="..." />
      </div>
      <div class="col-md-8 content-1 d-flex flex-column justify-content-center text-center p-3">
        <h2 style="color:darkgoldenrod">About Us</h2>
        <div class="d-flex justify-content-center">
          <p class="w-75" style="color:goldenrod; font-family: 'Arial', sans-serif; font-size: 15px; line-height: 1.6;">
            Khatu Naresh Packers and Movers commands respect and admiration as the pinnacle of reliability and
            excellence in India's dynamic shifting industry. With a rich legacy of serving countless satisfied clients,
            we've solidified our position as the undisputed leader in providing seamless packing solutions. Our
            unwavering commitment to integrity, loyalty, and unparalleled service delivery sets us apart from the
            competition.
            Every relocation undertaken by Khatu Naresh Packers and Movers is executed with precision and care, ensuring
            the utmost safety and security of our clients' belongings. Our transparent pricing and steadfast adherence
            to agreed-upon timelines eliminate any surprises, allowing our clients to experience a stress-free moving
            process. With a dedicated team available 24/7 and an unrivaled understanding of the market, we guarantee a
            moving experience that exceeds expectations.
            <br>
            <br>
            Select Khatu Naresh Packers and Movers for an extraordinary relocation experience that promises to exceed your expectations. Reach out to us today to begin your journey with absolute confidence, assured that your belongings are in the hands of industry pioneers dedicated to delivering excellence.
          </p>
        </div>
      </div>
    </div>
  </div>
