<div style="background-color:   beige;">

  <div class="row p-3">
      <div class="col-md-6">
          <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1601.6763213033641!2d76.97424986642955!3d28.61673025821175!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xa8ffbb13d6e687c9!2zMjjCsDM3JzAwLjIiTiA3NsKwNTgnMjguNiJF!5e0!3m2!1sen!2sin!4v1675703450656!5m2!1sen!2sin"
              width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
              referrerpolicy="no-referrer-when-downgrade">
          </iframe>
      </div>
      <div class="col-md-6 d-flex align-items-center justify-content-evenly">
          <div style="color: goldenrod;">
              <div class="d-flex align-items-start my-3">
                  <div class="fs-2 mx-3" style="color: darkgoldenrod;">
                      <i class="fa-sharp fa-solid fa-location-dot"></i>
                  </div>
                  <div>
                      <h4 style="color: darkgoldenrod;">Our Head Office Address</h4>
                      <a style="color: goldenrod;" target="_blank" href="https://maps.app.goo.gl/LiLVobr66GnfvSWt9">
                          <p>Shop No-31, Rishit Residency, Near Pooja farm, Narolgam Ahmedabad</p>
                      </a>

                  </div>
              </div>
              <div class="d-flex align-items-start my-3">
                  <div class="fs-2 mx-3" style="color: darkgoldenrod;">
                      <i class="fa-solid fa-envelope"></i>
                  </div>
                  <div>
                      <h4 style="color: darkgoldenrod;">General Enquiries</h4>
                      <p>nareshkhatu162@gmail.com</p>
                  </div>
              </div>
              <div class="d-flex align-items-start my-3">
                  <div class="fs-2 mx-3" style="color: darkgoldenrod;">
                      <i class="fa-solid fa-phone"></i>
                  </div>
                  <div>
                      <h4 style="color: darkgoldenrod;">Call Us</h4>
                      <p>+91 8306894260</p>
                  </div>
              </div>
              <!-- <div class="d-flex align-items-start my-3">
                  <div class="fs-2 mx-3" style="color: darkgoldenrod;">
                      <i class="fa-solid fa-clock"></i>
                  </div>
                  <div>
                      <h4 style="color: darkgoldenrod;">Our Timing</h4>
                      <p>nareshkhatu162@gmail.com</p>
                  </div>
              </div> -->
          </div>
      </div>
  </div>
</div>
