<div style="background-color: beige;">
  <div class="row p-3">
      <div class="col-md-6">
          <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3674.139356356119!2d72.59203117386303!3d22.94509431921784!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x395e8f3e8975f8a1%3A0x8d50820d0061fc39!2sRISHIT%20RESIDENCY%2C%20Narolgam%2C%20Ahmedabad%2C%20Gujarat%20382440!5e0!3m2!1sen!2sin!4v1711771303074!5m2!1sen!2sin"
              width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
              referrerpolicy="no-referrer-when-downgrade">
          </iframe>
      </div>
      <div class="col-md-6 d-flex align-items-center justify-content-evenly">
          <div style="color: goldenrod;">
              <div class="d-flex align-items-start my-3">
                  <div class="fs-2 mx-3" style="color: darkgoldenrod;">
                      <i class="fa-sharp fa-solid fa-location-dot"></i>
                  </div>
                  <div>
                      <h4 style="color: darkgoldenrod;">Our Head Office Address</h4>
                      <a style="color: goldenrod;" target="_blank"
                          href="https://www.google.com/maps/place/RISHIT+RESIDENCY,+Narolgam,+Ahmedabad,+Gujarat+382440/@22.9432221,72.5890853,13.83z/data=!4m15!1m8!3m7!1s0x395e8f3e8975f8a1:0x8d50820d0061fc39!2sRISHIT+RESIDENCY,+Narolgam,+Ahmedabad,+Gujarat+382440!3b1!8m2!3d22.9450577!4d72.5946034!16s%2Fg%2F11qs97n2yv!3m5!1s0x395e8f3e8975f8a1:0x8d50820d0061fc39!8m2!3d22.9450577!4d72.5946034!16s%2Fg%2F11qs97n2yv?hl=en&entry=ttu">
                          <p>Shop No-31, Rishit Residency, Near Pooja farm, Narolgam Ahmedabad</p>
                      </a>

                  </div>
              </div>
              <div class="d-flex align-items-start my-3">
                  <div class="fs-2 mx-3" style="color: darkgoldenrod;">
                      <i class="fa-solid fa-envelope"></i>
                  </div>
                  <div>
                      <h4 style="color: darkgoldenrod;">General Enquiries</h4>
                      <p>nareshkhatu162@gmail.com</p>
                  </div>
              </div>
              <div class="d-flex align-items-start my-3">
                  <div class="fs-2 mx-3" style="color: darkgoldenrod;">
                      <i class="fa-solid fa-phone"></i>
                  </div>
                  <div>
                      <h4 style="color: darkgoldenrod;">Call Us</h4>
                      <p>+91 8306894260</p>
                  </div>
              </div>
              <!-- <div class="d-flex align-items-start my-3">
                    <div class="fs-2 mx-3" style="color: darkgoldenrod;">
                        <i class="fa-solid fa-clock"></i>
                    </div>
                    <div>
                        <h4 style="color: darkgoldenrod;">Our Timing</h4>
                        <p>nareshkhatu162@gmail.com</p>
                    </div>
                </div> -->
          </div>
      </div>
  </div>
</div>
